*.pyc
*~
.venv
*.swp
clearbit_tools/all_clearbit_queries.csv
clearbit_tools/cncf_enriched.csv
clearbit_tools/input_enriched.csv
clearbit_tools/new_round_enriched.csv
clearbit_tools/unknown_emails_enriched.csv
all.log
git.log
all.log.xz
#all.txt
all.csv
database.dump
datelc.csv
header
x
ghusers/*
# Data files
# *.txt
# *.csv
*.out
# *.json
*.log
*.old
*.dat
*.db
*.dump
